<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learn AWS</title>
</head>

<body>
	<div class="background"></div>
	<div class="overlay"></div>
	<div class="container">
		<a href="https://aws.amazon.com/what-is-cloud-computing">
			<img src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="Powered by AWS Cloud Computing"
				class="aws-logo">
		</a>
		<h1><span class="heading">Explore the World of AWS with<span style="color: #f8991d"> DevFunOps</span> Team.</span>
		</h1>
		<p class="content">Empower your projects with the scalability and flexibility of AWS cloud services.</p>
		<a href="https://www.youtube.com/@DevFunOps/playlists" class="subscribe-button">Subscribe Now </a>
	</div>
</body>

</html>