<header>
	<div class="logo"><a href="https://www.youtube.com/@DevFunOps/playlists" target="_blank">DevFunOps</a></div>
	<h1>AWS VPC Creation: A Step-by-Step Guide</h1>
</header>
<div class="content">
	<div class="video-grid">
		<div class="video-item">
			<iframe src="https://www.youtube.com/embed/V4AzyZSqxSY" title="AWS VPC Tutorial Part 1"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="video-item">
			<iframe src="https://www.youtube.com/embed/VhID6RLhEJU" title="AWS VPC Tutorial Part 2"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="video-item">
			<iframe src="https://www.youtube.com/embed/ORg9kHUvmJI" title="AWS VPC Tutorial Part 3"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>

		<div class="video-item">
			<iframe src="https://www.youtube.com/embed/PAviJZAm8Yc" title="AWS VPC Tutorial Part 4"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>

	</div>
	<div class="aws-services">
		<div class="service">
			<i class="fas fa-network-wired"></i>
			<h4>Virtual Private Cloud</h4>
		</div>
		<div class="service">
			<i class="fas fa-plug"></i>
			<h4>Internet Gateway</h4>
		</div>
		<div class="service">
			<i class="fas fa-route"></i>
			<h4>Route Table</h4>
		</div>
		<div class="service">
			<i class="fas fa-cogs"></i>
			<h4>Elastic Load Balancer</h4>
		</div>
		<div class="service">
			<i class="fas fa-shield-alt"></i>
			<h4>Security Group</h4>
		</div>
		<div class="service">
			<i class="fas fa-cloud"></i>
			<h4>EC2 Instance</h4>
		</div>
	</div>
	<div class="button-container">
		<a href="https://www.youtube.com/@DevFunOps/playlists" target="_blank">Learn More</a>
	</div>
</div>
<footer>
	<p>&copy; 2025 DevFunOps</p>
	<p>Made with ❤️ by <a href="https://www.youtube.com/@DevFunOps/playlists" target="_blank">DevFunOps</a></p>
</footer>