/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f6f6f6;
  color: #333;
  align-items: center;
  height: 100vh;
  overflow: scroll;
  background-image: url(https://images.unsplash.com/photo-1573164574510-bd49732b1943);
  background-size: cover;
  background-position: center;
}